body{
  background-color: #f6fcff;
  background-image: url("../images/main_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

/* 중앙이미지를 정가운데 위치시키기 */
/* 화면크기(가로)가 줄어들때 화면너비를 100% 이용해서 */
/* 자동으로 이미지 크기를 줄이기 */
.character{
  width: 100%;
  max-width: 364px;
  margin-left: auto;
  margin-right: auto;
  /* 이미지는 글자요소라 중앙정렬이 안됨. */
  /* 상자요소로 전환해서 처리 */
  display: block;
  margin-bottom: 40px;
}

/* 최근에 와서는 image를 layout을 잡는 상자요소로 사용하는 추세 */
/* home.css의 display : block; 을 모든 내부에서 사용할 수 있도록*/
/* common.css로 이동하여 처리한다. */